body {}

.tabela {
    width: 50%;
    height: 40%;
    border: 1px solid black;
}

.linha {
    display: flex;
    align-items: center;
    height: 33px;
}

.colunaNome {
    width: 50%;
    height: 20px;
    border: solid 1px black;
}

.colunaUsuario {
    width: 50%;
    height: 20px;
    border: solid 1px black;
}

.botao {
    width: 60px;
    height: 40px;
    background-color: pink;
}