header {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabela {
    border: 1px solid black;
}

.nome {
    border: 1px solid black;
}

.usuario {
    border: 1px solid black;
}

th {
    border: 1px solid black;
}

td {
    border: 1px solid black;
}